<h5>
  Create New Game
</h5>
<form [formGroup]="userForm" (ngSubmit)="createNewGame()">
  <div class="row">
    <div class="eight columns">
      <input class="u-full-width" type="text" placeholder="John Doe" name="name" formControlName="name">
    </div>
    <div class="four columns">
      <input class="button-primary" type="submit" value="New Game">
    </div>
  </div>
</form>

<h5>
  Join Existing Game Room
</h5>
<form [formGroup]="userForm" (ngSubmit)="joinGameRoom()">
  <div class="row">
    <div class="six columns">
      <input class="u-full-width" type="text" placeholder="John Doe" formControlName="name">
    </div>
    <div class="six columns">
      <input class="u-full-width" type="text" placeholder="Room-1" formControlName="room">
    </div>
  </div>
  <input class="button-primary" type="submit" value="Join Room">
</form>
